*{
    box-sizing: border-box;
}

body {
    background-color: #242333;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: white;
    
    
}


.movie-container {
    margin:0 auto;
    width:50vw;
}


.movie-container select{
    background-color: #000;
    border:0;
    border-left: 5px;
    font-size: 14px;
    margin-left: 20px;
    padding: 10px 30px 10px 30px;

    

}

.container {
    perspective: 1000px;
    margin-bottom: 40px;
}

.back-container{
    align-items: left;
}


.seat {
    background-color: #444451;
    height: 22px;
    width: 25px;
    margin: 3px ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: rgb(86, 236, 221);
}
.seat.occupied {
    background-color: #ffffff;
}

.seat:nth-of-type(2){
    margin-right: 18px;
}

.seat:nth-last-of-type(2){
    margin-left: 18px;
}

.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}

.showcase.seat:not(.occupied):hover{
    cursor: default;
    transform: scale(1);
}

.showcase {
    background: rgb(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width:80vw;
    margin: 0 auto;

}

.showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;

}

.showcase li small{
    margin-left: 2px;
}

.screen {
    background-color: white;
    height: 140px;
    width: 50vw;
    margin: 0 auto;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgb(225, 225, 225, 0.7);
}

.row{
    display: flex;
   
    
}
p.text{
    margin: 0 auto;
    width:80vw;
    text-align: center;
}
p.text span{
    color: #6feaf6 ;
}

.navbar{
    border-radius: 0%;
}


.centering {margin: 0 auto; width: fit-content;}


